.sidebar{
    border: black solid;
    margin-left: 20px;
    max-width: 25vw;
    height: 84.5vh;
    background: #b7b7a4ab;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  button {
    font-family: 'Roboto Condensed', sans-serif !important;
    background: #d04a4a !important;
    margin: 5px;
  }

  .toCreate {
    margin-top: 5px !important;
   }

  .saveSchedule {
    width: 140px;
  }
  
  h1 {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top:10px;
  }

  .dropdown {
    margin-bottom:15px;
  }

  .checkBoxField {
    height: 145px;
    overflow: auto;
    text-align:left;
  }

  .dropdown .text {
    max-height:74px;
    overflow:hidden;
  }
  
  .checkbox {
    margin-top: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px !important;
    overflow:hidden;
    height:18px;

  }

  .sidebarH2 {
    margin-top: 5px;
    font-size: 27px;
    margin-bottom: 0px;
  }

  .delete {
    font-size: 16px !important;
  }

  .popup{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px !important;
  }